h1, h3 {
    font-family: 'Roboto', sans-serif;
}

h2, nav {
    font-family: 'Roboto Slab', serif;
}

p {
    font-family: 'Open Sans', sans-serif;
}

li {
    display: inline;
    float: left;
}

.clear {
    clear:both;
}