/*-- using http://csslayoutgenerator.com/ as a starting point */



/*              RESET from Eric Meyer
--------------------------------------------------------*/ 

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*------------ END RESET -----------*/


body {
	font: 12px/18px Arial, Tahoma, Verdana, sans-serif;
	width: 100%;
}

/*------ put everything inside <div id="wrapper"> - this gives your 
		website a fixed width of 978px + (12 px * 2) padding = 1002px -------*/
#wrapper {
	width: 978px;
	margin: 0 auto;
	padding: 12px;
	/* if you don't want to see the grid, then comment out the next line 
	background: url(../images/978-grid.png) repeat-y center;*/
	overflow: auto;
}

.col1 { width: 54px; }
.col2 { width: 138px; }
.col3 { width: 222px; }
.col4 { width: 306px; }
.col5 { width: 390px; }
.col6 { width: 474px; }
.col7 { width: 558px; }
.col8 { width: 642px; }
.col9 { width: 726px; }
.col10 { width: 810px; }
.col11 { width: 894px; }
.col12 { width: 978px; }


/* My CSS
-----------------------------------------------------------------------------*/

.left {
	float: left;
}

.right {
	float:right;
}

a:link {color:#888;}      /* unvisited link */
a:visited {color:#888;}  /* visited link */
a:hover {color:#F00;}  /* mouse over link */
a:active {color:#F00;}  /* selected link */

#header {
	height:100px;
}


h1 {
	font-family: 'Allerta', sans-serif;
	margin-top: 75px;
	font-size: 115px;
	text-align: center;
}

span {
	color:#888;
}

#week {
	border-bottom: solid 1px black;
	padding-bottom: 10px;
	margin-bottom: 30px;
	font-size: 2em;
}

#sunset{
	 box-sizing:border-box; 
	 padding: 10px;
	 border:solid 2px black;
	 -webkit-box-shadow: 4px 4px 1px 1px #4D4B4D;
	box-shadow: 4px 4px 1px 1px #4D4B4D;
	margin-right: 30px;
}

h2 {
	font-size: 24px;
	padding-top: 15px;
	padding-bottom: 15px;
}

#date {
	font-size: 10px;
}

#beach {
	width:610px;
	height: auto;
	display: block;
    margin-left: auto;
    margin-right: auto 
}

.aenean {
	padding-top: 10px;
	font-size: 13px;
}

#logo {
	width:275px;
	height:auto;
	padding-top:15px;
}

#news {
	border-bottom: solid black 1px;
}

li {
	font-family: 'Allerta', sans-serif;
	border-bottom: solid black 1px;
	font-size: 14px;
	padding-top: 5px;
}

section {
	margin-bottom: 25px;
}

#footer {
	clear: both;
	padding: 10px;
	background-color: rgb(127,199,175);
	color:#FFF;
}