<!-- using http://csslayoutgenerator.com/ as a starting point -->



/*              RESET from Eric Meyer
--------------------------------------------------------*/ 

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*------------ END RESET -----------*/


body {
	font: 12px/18px Georgia, Times, serif;
	width: 100%;
	background-image:url('http://alyshak.com/assignments/instructional/images/background.jpg');
}

/*------ put everything inside <div id="wrapper"> - this gives your website a fixed width of 978px -------*/
#wrapper {
	width: 978px;
	margin: 0 auto;
	background-color: #BD4931;
}


/* Header
-----------------------------------------------------------------------------*/

/* 978.gs column widths for a 12-column layout 
where each column is 54px and each gutter is 30px
-----------------------------------------------------------------------------*/
.steps {
	background-color: #FFD34E;
	margin-bottom: 25px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	padding-right: 5px;
	padding-left: 5px;
}

img {
	width:250px;
	height:auto;
	display: block;
   	margin-left: auto;
  	margin-right: auto
}

#hat {
	width:500px;
}

.leftmargin {
	margin-left: 30px;
}

.left {
	float:left;
}

h3, p, h1, h2 {
	text-align: center;
}

.ingredients {
	background-color: #105B63;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 30px;
}

.center {
	display: block;
   	margin-left: auto;
  	margin-right: auto
}

.clear {
	clear:both;
}

article.ingredients p {
	color:#FFF9D6;
}

.secondrow {
	position:relative;
	left: 168px;
	top:0px;
}

.thirdrow {
	position:relative;
	left: 336px;
	top:0px;
}

p {
	font-size: 12pt;
}

h1, h2, h3 {
	font-family: Bubblegum Sans, cursive;
	color:#FFF9D6;
}

h1 {
	font-size:4em;
}

h2 {
	font-size:3em;
}

h3 {
	font-size: 2em;
}

#title {
	position: absolute;
	top:60px;
	left:380px;
}

#hattype {
	position: relative;
}

.stepnumber {
	color:#BD4931;	
}

.col1 { width: 54px; }
.col2 { width: 138px; }
.col3 { width: 222px; }
.col4 { width: 306px; }
.col5 { width: 390px; }
.col6 { width: 474px; }
.col7 { width: 558px; }
.col8 { width: 642px; }
.col9 { width: 726px; }
.col10 { width: 810px; }
.col11 { width: 894px; }
.col12 { width: 978px; }

/* Middle
-----------------------------------------------------------------------------*/




/* 	    If you are floating elements next to each other, then all elements 
        (except the first one) need a margin-left: 30px;

        Refer to 978.gs to visually see why this is.
*/



/* Footer
-----------------------------------------------------------------------------*/